<h3>Listado de heroes</h3>

<!-- OJO:
 El detalle de la doble comilla del *ngIf hasta donde llega

 el nothingwasDeleted es la referencia local de llamada
 en otro lado del html si se cumple
 -->
<div *ngIf="heroRemoved; else nothingWasDeleted">
  <h3>Herore borrado:
    <small class="text-danger">
      {{ heroRemoved }}
    </small></h3>
</div>
<!--
  <ngtemplate> es un div que no existe en el html
  #nothingWasDeleted es una referencia local
-->
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  class="btn btn-outline-danger"
  (click)="removeLastHero()">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">
    {{ name }}
  </li>
</ul>
