<ol class="list-group">

  <h4><li>directo component.html</li></h4>
  <ul>
    <li class="list-group-item">
      <span class="text-primary">1. </span>Vegetta - 8.000</li>
  </ul>

  <h4><li> procede del list.Component.ts</li></h4>
  <ul>
    <li *ngFor="let character of characterList2;  index as i;"
    class="list-group-item">
      <span class="text-primary">{{ i+1 }}.</span>
      <span> {{character.name}} </span>
      <strong>({{character.power}})</strong>


    </li>
  </ul>
  <h4><li>main-page.component.ts usando html list.component.html</li></h4>
  <ul>

    <li *ngFor="let character of characterList;
    let i = index;
    first as isFirst;
    let isLast = last
    let isEven = even
    odd as isOdd"

    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass] = "{ 'list-group-item-info': isEven, 'list-group-item-warning': isLast,}">

    <span>
      <span class="text-primary">{{ i+1 }}.</span>
      <span> {{ character.name }} </span>
      <strong>({{ character.power }})</strong>
    </span>

    <!--<span> [Indice: impar ({{ isOdd }}) / par ({{ isEven }})] </span>-->
    <!--1. conectamos el evento boton con el metodo de la clase list.component.ts -->
    <button class="btn btn-danger" (click)="onDeleteById(i, character.id)">X</button>
    </li>
  </ul>

</ol>
